$maxMobile: 767px;
$minSmall: 768px;
$minMedium:"(min-width:992px)";

$redcolor: #E62579;
$greycolor:#666666;
$orangecolor:#F29222;

$float-left:left;
$float-right:right;

$cairo:'Cairo', sans-serif;
