{% extends "home/base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}



{% block content %}

{% if page.title == "Home" %}
<div class="container-fluid video-container">
  <div class="video">

  <iframe width="854" height="480"  src="https://www.youtube.com/embed/dPfEqqch_9s?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <a class="scrollLink"></a>
</div>



<!-- start slider -->
<div class="home-p text-container " id="info" >
  <div class="container">

    <div class="tex">
      <img data-aos="fade-right" class="health-img" width="100px" src="/static/img/health.png" alt="">
      <h1 data-aos="fade-right"> إحساسك نعمة </h1>
      <p data-aos="zoom-out-right">
        إحساسك نعمة هي الحملة القومية لعلاج أمراض التهاب الأعصاب الطرفية، <br> من خلال التعاون ما بين شركة إيفا فارما ووزارة الصحة المصرية
      </p>
      <button type="button" name="button" onclick="location.href = '/ehsasak';" data-aos="zoom-in-right"> اعرف أكثر </button>
    </div>
  </div>
</div>
<!-- end slider-->



<div class="about">
  <div class="container content">
    <div class="row">
      <div class="col-md-4 counter-content">
        <p><span class="counter">10000</span></p>
        <p> مريض </p>

      </div>


      <div class="col-md-4 counter-content">
        <p><span class="counter">580</span></p>
        <p> قافله </p>

      </div>


      <div class="col-md-4 counter-content">
        <p><span class="counter">24</span></p>
        <p> محافظه </p>

      </div>

    </div>
  </div>
</div>





{% else %}
<header>
  <div class="container">
    <div class="text-center hero-text">
      <h1>{{ page.title }}</h1>
</header>
<div class="container">
  <main id="main">
    <section>

      <div class="blog-content">
        {{ page.body|richtext }}
      </div>
  </main>
  </<section>

  </section>



</div>
{% endif %}


{% endblock content %}
