{% extends "home/base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags %}

{% block content %}


    <header>
      <div class="container">
        <h1> القوافل </h1>

      </div>
    </header>


    <div class="news">
      <div class="container">

        <div class="card-deck">

          <div class="card">
            <img src="/static/img/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> قافلة علاجية لحملة إحساسك نعمة بدار السلام </h5>
              <p class="card-text">
    تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، بالتعاون مع دكتور عصام عبد المنعم وجمعية شفاء الصدور، بتنظيم قافلة علاجية لتشخيص وعلاج التهاب الأعصاب الطرفية لمرضى السكري، ضمن إطار فاعليات الحملة، وذلك بمركز شفاء الصدور بشارع مطر المتفرع من شارع الفيوم بدار السلام، يوم السبت 20 إبريل، منذ الساعة الثانية عشر صباحًا وحتى الرابعة عصرًا، وتشمل فاعليات اليوم الكشف والتشخيص لمرضى السكر والتهاب الأعصاب الطرفية وصرف العلاج مجانًا.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> 18 إبريل 2019 </small>
            </div>
          </div>

          <div class="card">
            <img src="/static/img/9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> قافلة علاجية لحملة إحساسك نعمة بعزبة الشركة بالفيوم  </h5>
              <p class="card-text">
         تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، بالتعاون مع نادى روتاري مصر، بتنظيم قافلة علاجية لتشخيص وعلاج التهاب الأعصاب الطرفية، ضمن إطار فاعليات الحملة، وذلك بمنطقة عزبة الشركة بقرية الناصرية التابعة للوحدة المحلية لقرية سيلا بالفيوم، يوم الجمعة 8 مارس، منذ الساعة الحادية عشر صباحًا، وتشمل فاعليات اليوم الكشف والتشخيص لمرضى السكر والتهاب الأعصاب الطرفية وصرف العلاج مجانًا لغير القادرين
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">7 مارس 2019</small>
            </div>
          </div>

          <div class="card">
            <img src="/static/img/11.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> تحت رعاية محافظ بورسعيد، قافلة طبية لحملة إحساسك نعمة  </h5>
              <p class="card-text">
         تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، بالتعاون مع نادى روتارى بورسعيد ومستشفى الرحمة ببورسعيد وتحت رعاية اللواء عادل الغضبان محافظ بورسعيد، بعمل يوم مجانى للكشف عن القدم السكرى و القرح المزمنة، ضمن إطار فاعليات الحملة، وذلك بمستشفى الرحمة بشارع كسرى أمام السكة الحديد، يوم الجمعة 18 يناير، منذ الساعة الواحدة ظهرًا وحتى الخامسة مساءًا، وتشمل فاعليات اليوم الكشف المجاني في تخصصات الأعصاب والباطنة والقلب والعظام، كما يتضمن اليوم أيضًا الكشف وقياس السكر والضغط وصرف علاج التهاب الأعصاب الطرفية مجانًا.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">14 يناير 2019 </small>
            </div>
          </div>
        </div>

      <div class="card-deck">

          <div class="card">
            <img src="/static/img/12.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> قافلة طبية لحملة إحساسك نعمة بدمياط  </h5>
              <p class="card-text">
                 تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، بالتعاون مع مستشفى ابن سينا التخصصي، بعمل يوم مجانى للكشف عن القدم السكرى و القرح المزمنة، ضمن إطار فاعليات الحملة، كما تقدم المستشفى فى هذا اليوم أيضًا خصم 50% على عمليات الأوعية الدموية و كافة المتابعات والأشعة والتحاليل، وذلك بمستشفى ابن سينا التخصصى بشارع الجمهورية، يوم الخميس 10 يناير، منذ الساعة الثانية عشر ظهرًا وحتى الرابعة عصرًا، وتشمل فاعليات اليوم الكشف المجاني في تخصصات جراحة الأوعية الدموية وجراحة التجميل وجراحة العظام والباطنة والقلب، هذا إلى جانب توافر العلاج مجانًا لحالات التهاب الأعصاب الطرفية والقدم السكري، بجانب قياس مستوى السكر فى الدم.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> 5 يناير 2019 </small>
            </div>
          </div>

          <div class="card">
            <img src="/static/img/13.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">قافلة طبية لحملة إحساسك نعمة بدار السلام  </h5>
              <p class="card-text">
        تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، بالتعاون مع دكتور هشام عبدالصبور وجمعية شفاء الصدور، بعمل قافلة علاجية لتشخيص وعلاج التهاب الأعصاب الطرفية لمرضى السكري، ضمن إطار فاعليات الحملة، وذلك بمركز شفاء الصدور في شارع مطر المتفرع من شارع الفيوم بدار السلام ، يوم السبت 5 يناير، منذ الساعة الثانية عشر ظهرًا وحتى الرابعة عصرًا، وتشمل فاعليات اليوم الكشف والتشخيص وتحليل السكر بالإضافة لصرف العلاج مجانًا.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted"> 4 يناير 2019 </small>
            </div>
          </div>


            <div class="card">
              <img src="/static/img/14.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">قافلة طبية لحملة إحساسك نعمة بمحافظة الشرقية  </h5>
                <p class="card-text">
           تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، وبالتعاون مع المعهد القومى لأمراض السكر و الغدد الصماء، بعمل قافلة علاجية لتشخيص وعلاج التهاب الأعصاب الطرفية، ضمن إطار فاعليات الحملة، وذلك بمستشفى الإبراهيمية بالشرقية، يوم السبت 5 يناير، منذ الساعة التاسعة صباحًا وحتى الثانية ظهرًا، وتشمل فاعليات اليوم الكشف والتشخيص وتحليل السكر بالإضافة لصرف العلاج مجانًا لغير القادرين.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 4 يناير 2019</small>
              </div>
            </div>
          </div>

          <div class="card-deck">

            <div class="card">
              <img src="/static/img/15.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة طبية لحملة إحساسك نعمة بحلوان  </h5>
                <p class="card-text">
           تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، وبالتعاون مع وزارة الصحة والسكان والمعهد القومى لأمراض السكر و الغدد الصماء، بعمل قافلة علاجية للكشف المبكر عن مرض التهاب الأعصاب الطرفية، ضمن إطار فاعليات الحملة، وذلك بمقر أكادمية الصفوة الرياضية بقرية الرفا بحلوان، يوم الجمعة 14 ديسمبر، بعد صلاة الجمعة مباشرةً، وتشمل فاعليات اليوم الكشف والتشخيص وتحليل السكر، بالإضافة لصرف بعض الأدوية الخاصة بالتهاب الأعصاب الطرفية مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 13 ديسمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/17.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة علاجية لحملة إحساسك نعمة بمستشفى الساحل بشبرا </h5>
                <p class="card-text">
           تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، وبالتعاون مع المعهد القومى لأمراض السكر و الغدد الصماء، بعمل مسح لمرض التهاب الأعصاب الطرفية من خلال العيادة المتخصصة (عيادة التهاب الأعصاب الطرفية)، ضمن إطار فاعليات الحملة، وذلك بمستشفى الساحل التعليمي بشبرا، يوم الأربعاء 12 ديسمبر، من الساعة العاشرة صباحًا وحتى الواحدة ظهرًا، وتشمل فاعليات اليوم الكشف و التشخيص و تحليل السكر بالإضافة لصرف العلاج مجانًا
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 9 ديسمبر 2018</small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/18.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة علاجية لحملة إحساسك نعمة بمستشفى أحمد ماهر </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، وبالتعاون مع المعهد القومى لأمراض السكر و الغدد الصماء، بعمل مسح لمرض التهاب الأعصاب الطرفية من خلال العيادة المتخصصة (عيادة التهاب الأعصاب الطرفية)، ضمن إطار فاعليات الحملة، وذلك بمستشفى أحمد ماهر بشارع بورسعيد أمام مديرية أمن القاهرة، يوم الأحد 9 ديسمبر من الساعة العاشرة صباحًا وحتى الواحدة ظهرًا، وتشمل فاعليات اليوم الكشف و التشخيص و تحليل السكر بالإضافة لصرف العلاج مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 6 ديسمبر 2018 </small>
              </div>
            </div>
          </div>


          <div class="card-deck">

            <div class="card">
              <img src="/static/img/19.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">   قافلة علاجية لحملة إحساسك نعمة بمستشفى أم المصريين </h5>
                <p class="card-text">
                   تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، وبالتعاون مع المعهد القومى لأمراض السكر و الغدد الصماء، بعمل مسح لمرض التهاب الأعصاب الطرفية من خلال العيادة المتخصصة (عيادة التهاب الأعصاب الطرفية)، ضمن إطار فاعليات الحملة، وذلك بمستشفى أم المصريين بالجيزة، يوم السبت 8 ديسمبر من الساعة العاشرة صباحًا وحتى الواحدة ظهرًا، وتشمل فاعليات اليوم الكشف و التشخيص و تحليل السكر بالإضافة لصرف العلاج مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 6 ديسمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/21.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة طبية لإحساسك نعمة بكفر الشيخ </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، وبالتعاون مع الدكتور عبد الله سيد ناشئ، بتنظيم قافلة علاجية لتشخيص وعلاج التهاب الأعصاب الطرفية، وذلك ضمن إطار فاعليات الحملة، بجمعية السلام الخيرية بزاوية جروان بمركز الباجورفي محافظة المنوفية، وذلك يوم الجمعة 30 نوفمبر من الساعة العاشرة صباحًا
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 27 نوفمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/22.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">    قافلة طبية لحملة إحساسك نعمة بالمحلة الكبرى مرة أخرىن </h5>
                <h5 class="card-title">    </h5>
                <p class="card-text">
                  تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، وبالتعاون مع جمعية مصر المحلة للعلوم الطبية الباطنية، وعلى هامش الاحتفال باليوم العالمي للسكر، بتنظيم عدد من الأنشطة التوعوية والعلاجية لمرضى السكري والتهاب الأعصاب الطرفية، وذلك ضمن إطار فاعليات الحملة، بنادي المحلة الكبرى، وذلك يوم الجمعة 30 نوفمبر من الساعة الرابعة عصرًا وحتى السابعة مساءًا.
                 وتشمل فاعليات اليوم محاضرة توعوية لمرضى السكري حول طرق التعايش مع المرض وكيفية الوقاية من المضاعفات، والتوعية بالأنظمة الغذائية، وذلك إلى جانب قياس السكر مجانًا و سحب على 5 أجهزة قياس سكر مجانًا وغيرها من الأنشطة
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 26 نوفمبر 2018 </small>
              </div>
            </div>
          </div>


          <div class="card-deck">

            <div class="card">
              <img src="/static/img/23.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">  قافلة طبية لإحساسك نعمة بكفر الشيخ </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع مبادرة بنحب بلدنا وأستاذ محمد الصعيدي ومركز محلي دسوق بمشاركة المجتمع المدني، عن إقامة قافلة طبية باستاد دسوق الرياضي، يوم الجمعة 30 نوفمبر، حيث تضم القافلة جميع التخصصات الطبية والتحاليل اللازمة كما سيتم صرف العلاج مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 27 نوفمبر 2018: </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/24.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">  قافلة طبية لإحساسك نعمة بمحافظة الدقهلية </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع دكتور عصام عبد المنعم وجمعية شفاء الصدور، بتنظيم قافلة طبية لتشخيص وعلاج التهاب الأعصاب الطرفية لمرضي السكري، وذلك ضمن إطار فاعليات الحملة، يوم السبت 24 نوفمبر، بمركز شفاء الصدور في شارع مطر، من الثانية عشر ظهرًا وحتى الرابعة عصرًا، حيث يشمل اليوم الكشف والتشخيص وصرف العلاج مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 25 نوفمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/25.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">   قافلة طبية لإحساسك نعمة بدار السلام </h5>
                <h5 class="card-title">    </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع دكتور عصام عبد المنعم وجمعية شفاء الصدور، بتنظيم قافلة طبية لتشخيص وعلاج التهاب الأعصاب الطرفية لمرضي السكري، وذلك ضمن إطار فاعليات الحملة، يوم السبت 24 نوفمبر، بمركز شفاء الصدور في شارع مطر، من الثانية عشر ظهرًا وحتى الرابعة عصرًا، حيث يشمل اليوم الكشف والتشخيص وصرف العلاج مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 23 نوفمبر 2018 </small>
              </div>
            </div>
          </div>


          <div class="card-deck">

            <div class="card">
              <img src="/static/img/26.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">    قافلة طبية جديدة لحملة إحساسك نعمة بالشرقية </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع جمعية صعيد مصر للسكرى وجنوب مصر للسكر والغدد الصماء، بعمل ندوة تثقيفية بعنوان "حماية الأسرة من السكرى"، وذلك ضمن إطار فاعليات الحملة، يوم الأحد 25 نوفمبر، بمركز السكر والغدد الصماء بعيادات الباطنة الخارجية في مستشفى جامعة أسيوط.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 22 نوفمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/28.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">  قافلة طبية جديدة لحملة إحساسك نعمة بكفر داود بالمنيا </h5>
                <h5 class="card-title">    </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية بتنظيم قافلة علاجية لتشخيص وعلاج التهاب الأعصاب الطرفية،  بقرية كفر داوود بمغاغا محافظة المنيا، وذلك ضمن إطار فاعليات الحملة، يوم الجمعة 23 نوفمبر، بكنيسة شبين النصارة، من العاشرة صباحًا وحتى الخامسة مساءًا، حيث يشمل اليوم الكشف والتحليل والتشخيص وصرف العلاج مجانًا

                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 21 نوفمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/29.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">  حملة إحساسك نعمة تنظيم قافلة طبية بالقاهرة </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع مستشفى الساحل التعليمي، بتنظيم قافلة علاجية لتشخيص وعلاج التهاب الأعصاب الطرفية، وذلك ضمن إطار فاعليات الحملة، يوم السبت 17 نوفمبر، بمستشفى الساحل التعليمي بشبرا، من العاشرة صباحًا وحتى الواحدة ظهرًا، حيث يشمل اليوم الكشف والتشخيص وصرف العلاج مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 14 نوفمبر 2018 </small>
              </div>
            </div>
          </div>

          <div class="card-deck">

            <div class="card">
              <img src="/static/img/30.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة طبية جديدة لحملة إحساسك نعمة بالشرقية </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع مستشفى الإبراهيمية العام، بتنظيم قافلة علاجية لتشخيص وعلاج التهاب الأعصاب الطرفية لمرضي السكري، وذلك ضمن إطار فاعليات الحملة، يوم السبت 17 نوفمبر، بمستشفى الإبراهيمية العام، من التاسعة صباحًا وحتى الثانية عشر ظهرًا، حيث يشمل اليوم الكشف والتشخيص وصرف العلاج مجانًا. حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع حملة مبادرة شفاء، بتنظيم يوم للكشف الطبي المجاني بمدينة طنطا، وذلك ضمن إطار فاعليات الحملة، يوم الجمعة 23 نوفمبر، فى مستشفى الدلتا الدولي، من الثانية مساءًا وحتى الخامسة مساءًا، وذلك بعد نجاح اليوم السابق وتاكيدًا على صدق وكفاءة المبادرتين مع وجود نخبة من أكبر الأطباء والإستشاريين وأساتذة الجامعات
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 14 نوفمبر 2018: </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/31.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> بالتعاون مع كلية الطب بجامعة بورسعيد، قافلة طبية جديدة لإحساسك نعمة   </h5>
                <h5 class="card-title">    </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون كلية الطب بجامعة بورسعيد، بتنظيم قافلة علاجية لتشخيص وعلاج التهاب الأعصاب الطرفية لمرضي السكري، وذلك ضمن إطار فاعليات الحملة، وتزامنًا مع احتفال كلية الطب بيوم السكر العالمي، يوم الأربعاء 14 نوفمبر، بمسرح كلية تربية نوعية، من العاشرة صباحًا وحتى الثانية ظهرًا، حيث يشمل اليوم الكشف والتشخيص وصرف العلاج مجانًا.
              </div>
              <div class="card-footer">
                <small class="text-muted"> 13 نوفمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/32.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة طبية لإحساسك نعمة بالمقطم </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع دكتور وائل عبدالحميد، بتقديم قافلة علاجية للكشف وعلاج التهاب الأعصاب الطرفية لمرضى السكري، وذلك ضمن إطار فاعليات الحملة، يوم الجمعة 16 نوفمبر، بعيادة دكتور وائل عبدالحميد بجوار مستشفى المقطم التخصصي، من الواحدة ظهرًا وحتى الرابعة عصرًا، حيث يشمل اليوم الكشف والتشخيص وصرف العلاج مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 12 نوفمبر 2018 </small>
              </div>
            </div>
          </div>

          <div class="card-deck">

            <div class="card">
              <img src="/static/img/33.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة جديدة لإحساسك نعمة ببركة السبع في المنوفية </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع مجمع العراقي الخيري ببركة السبع، بتقديم قافلة علاجية للكشف وعلاج التهاب الأعصاب الطرفية، وذلك ضمن فاعليات الحملة، يوم الأثنين 12 نوفمبر، بمجمع العراقي الخيري بالقرب من محطة السكة الحديد، من الخامسة مساءًا وحتى الثامنة مساءًا، بمشاركة أطباء في تخصصات العظام و الباطنة و المخ و الاعصاب .و توفير العلاج اللازم مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 11 نوفمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/34.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة علاجية لحملة إحساسك نعمة بالإسكندرية  </h5>
                <h5 class="card-title">    </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبمشاركة مركز صحة الأسرة بسان ستيفانو وحضور د. نهي جابر، مدرس السكر بكلية الطب جامعة الإسكندرية، بتقديم قافلة علاجية للكشف وعلاج التهاب الأعصاب الطرفية لمرضي السكري، وذلك ضمن فاعليات الحملة، يوم السبت 17 نوفمبر، بمركز صحة الأسرة بسان ستيفانو من العاشرة صباحًا وحتى الواحدة ظهرًا، حيث يشمل اليوم الكشف والتشخيص وصرف العلاج مجانًا.
          </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 7 نوفمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/35.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة علاجية لحملة إحساسك نعمة بمحافظة دمياط </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية وبالتعاون مع جمعية أصدقاء المرضى بتقديم قافلة علاجية للكشف وعلاج التهاب الأعصاب الطرفية، وذلك ضمن فاعليات الحملة، يوم الجمعة 16 نوفمبر، بالمجمع الإسلامي بقرية البدراوي مركز كفر سعد في دمياط، وذلك بمشاركة أطباء مستشفي الأزهر وتوفير العلاج اللازم مجانًا      </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 5 نوفمبر 2018 </small>
              </div>
            </div>
          </div>

          <div class="card-deck">

            <div class="card">
              <img src="/static/img/36.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة علاجية لحملة إحساسك نعمة بمحافظة الشرقية </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة وبالتعاون مع الدكتور هاني الشافعي بتقديم قافلة علاجية للكشف وعلاج التهاب الأعصاب الطرفية، وذلك ضمن فاعليات الحملة، الجمعة 9 نوفمبر، بقاعة روما بجوار أرض الفدان بمنيا القمح، ويشمل اليوم الكشف و التشخيص و صرف العلاج مجانًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 4 نوفمبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/37.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">  بالتعاون مع كلية طب الأزهر، قافلة طبية لحملة إحساسك نعمة بدمياط</h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، وبالتعاون مع كلية طب الأزهر بنين بمحافظة دمياط، بتنظيم قافلة علاجية بالمجمع الإسلامي بالسنانية في دمياط، وذلك يوم الجمعة 2 نوفمبر بعد صلاة الجمعة، وذلك بمشاركة أطباء مستشفى الأزهر وتوفير العلاج اللازم مجانًا.
          </p>

              </div>
              <div class="card-footer">
                <small class="text-muted"> 30 أكتوبر 2018 </small>
              </div>
            </div>

            <div class="card">
              <img src="/static/img/38.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> قافلة طبية لحملة إحساسك نعمة بطنطا </h5>
                <p class="card-text">
          تقوم الحملة القومية لعلاج التهاب الأعصاب الطرفية (إحساسك نعمة) وبالتعاون مع حملة مبادرة شفاء بمدينة طنطا، بتنظيم قافلة علاجية لمرضى إلتهاب الأعصاب الطرفية مجانًا، إلى جانب توفير مختلف التخصصات الطبية الأخرى بأسعار رمزية، وذلك يوم الجمعة 26 أكتوبر، بمستشفى الدلتا الدولي بطنطا، ومنذ الساعة الواحدو بعد صلاة الجمعة.
           </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 25 أكتوبر 2018 </small>
              </div>
            </div>
          </div>

          <div class="card-deck">

            <div class="card">
              <img src="/static/img/16.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> في اليوم العالمي لمرض السكري، إحساسك نعمة تقيم ندوات توعوية بالمنصورة </h5>
                <p class="card-text">
          تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، بالتعاون مع جامعة الدلتا للعلوم و التكنولوجيا وتحت إشراف الأستاذ الدكتور السيد عبد الفتاح عيد، وعلى هامش الأحتفال باليوم العالمى للسكر، بعمل محاضرة توعية لمرضى السكري والتوعية بالأنظمة الغذائية، إلى جانب قياس السكر وتحليل النقرس مجانًا، وذلك ضمن إطار فاعليات الحملة، بمقر نادى الحوار للألعاب الرياضية بالمنصورة، يوم الجمعة 14 ديسمبر، من الساعة العاشرة صباحًا وحتى الثانية ظهرًا.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> 12 ديسمبر 2018: </small>
              </div>
            </div>


              <div class="card">
                <img src="/static/img/39.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> بالتزامن مع الاحتفال بالعيد القومي للسويس، قافلة طبية لإحساسك نعمة  </h5>
                  <p class="card-text">
                    تقوم حملة إحساسك نعمة بالتعاون مع مستشفى السويس العام، وبالتزامن مع الاحتفال بالعيد القومي لمحافظة السويس، بتنظيم قافلة علاجية بالمحافظة، يوم الأربعاء 24 أكتوبر، ومنذ الساعة التاسعة والنصف صباحًا، بعيادة السكر في مستشفى السويس العام.
                    وسوف يشمل اليوم الكشف وتحليل السكر والتشخيص لمضاعفات السكر والتهاب الأعصاب الطرفية إلى جانب صرف العلاج مجانًا.
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">22 أكتوبر 2018 </small>
                </div>
              </div>
          </div>

          <div class="card-deck">

              <div class="card">
                <img src="/static/img/43.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> قافلة طبية لإحساسك نعمة بمحافظة المنيا </h5>
                    <p class="card-text">
            تقوم الحملة القومية لعلاج التهاب الأعصاب الطرفية (إحساسك نعمة) بقافلة علاجية لقرية ديروط أم نخلة في ملوى بمحافظة المنيا، وذلك يوم الجمعة 19 أكتوبر في الساعة العاشرة صباحًا، حيث توفر القافلة الكشف والتحاليل، كما تقوم بصرف العلاج مجانًا.
                   </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"> 17 أكتوبر 2018 </small>
                </div>
              </div>


              <div class="card">
                <img src="/static/img/44.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> قوافل إحساسك نعمة في الواحات البحرية </h5>
                  <p class="card-text">
                    ضمن إطار فاعليات الحملة القومية لعلاج التهاب الأعصاب الطرفية (إحساسك نعمة) تقوم قافلة علاجية، يوم الجمعة 19 أكتوبر، بمنطقة الواحات البحرية، وذلك بالتعاون مع نادي روتاري كايرو فيروايز ومعهد السكر.
                    وتشمل القافلة خدمات الكشف والتشخيص وصرف العلاج مجانًا.
             </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"> 17 أكتوبر 2018 </small>
                </div>
              </div>

              <div class="card">
                <img src="/static/img/45.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> قافلة طبية لإحساسك نعمة بمحافظة الشرقية  </h5>
                  <p class="card-text">
                    تقوم الحملة القومية لعلاج التهاب الأعصاب الطرفية (إحساسك نعمة) بقافلة علاجية لقرية بندف التابعة لمركز منيا القمح بمحافظة الشرقية، وذلك يوم الجمعة 19 أكتوبر منذ الساعة الواحدة ظهرًا، بالتعاون مع جمعية تنمية المجتمع بقرية بندف، بحضور أطباء من مختلف التخصصات.
                    وتوفر القافلة الكشف والتحاليل، كما تقوم بصرف العلاج مجانًا لغير القادرين.

                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"> 14 أكتوبر 2018 </small>
                </div>
              </div>
            </div>

            <div class="card-deck">

              <div class="card">
                <img src="/static/img/47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">إحساسك نعمة تقوم بقافلة طبية لوداي النطرون </h5>
                  <p class="card-text">
                    ضمن إطار فاعليات الحملة القومية لعلاج التهاب الأعصاب الطرفية (إحساسك نعمة) تقوم قافلة علاجية، يوم السبت 29 سبتمبر، بكنيسة وادي النطرون على طريق مصر الإسكندرية الصحراوي، وذلك منذ الساعة العاشرة صباحًا وحتى الخامسة عصرًا بمبنى الخدمات بالكنيسة.
                    وتقوم القافلة بخدمات الكشف والتحيل وصرف العلاج مجانًا لغير القادرين
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">26 سبتمبر 2018 </small>
                </div>
              </div>


                <div class="card">
                  <img src="/static/img/48.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">   قافلة طبية لإحساسك نعمة بدمياط الجديدة  </h5>
                    <p class="card-text">
                      تقوم الحملة القومية لعلاج التهاب الأعصاب الطرفية (إحساسك نعمة) بقافلة علاجية لمركز الأزهر للتعليم الطبي في المركز الإسلامي بمدينة دمياط الجديدة، وذلك يوم الجمعة 28 سبتمبر بعد صلاة الظهر، بالتعاون مع جمعية أصدقاء المرضى بمستشفى الأزهر ومعمل المنار.
                      وتوفر القافلة الكشف والتحاليل من جانب أطباء مستشفى الأزهر، كما تقوم بصرف العلاج مجانًا لغير القادرين.
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> 25 سبتمبر 2018</small>
                  </div>
                </div>

                <div class="card">
                  <img src="/static/img/49.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> بداية القوافل الطبية للحملة القومية لعلاج التهاب الأعصاب الطرفية (إحساسك نعمة) بالمحافظات </h5>
                      <p class="card-text">
                        قامت الحملة القومية لعلاج التهاب الأعصاب الطرفية  (إحساسك نعمة) هذا الأسبوع بعدد من القوافل العلاجية لبعض القرى والمدن بخمس محافظات مختلفة، وذلك ضمن إطار الفاعليات الرسمية للحملة، والتي تستهدف الكشف على ما يقرب من 200 ألف مواطن بتسع محافظات مختلفة.
                        وشهدت هذه الجولة عددًا من القوافل لقرية الحمر مركز قوص بمحافظة قنا، والصحة المهنية بحي المنتزة بالإسكندرية، ومستشفى أجا العام بمحافظة الدقهلية، وقرية العوامرة بأبو كبير في الشرقية، ومستشفى السيد هاشم بمحافظة السويس، يحث قامت القوافل العلاجية بعمليات الكشف الطبي والتحليل وإجراء الإختبارات اللازمة وصرف العلاج مجانًا لغير القادرين.

                     </p>

                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> 24 سبتمبر 2018</small>
                  </div>
                </div>
              </div>




        </div>
      </div>
{% endblock %}
