{% extends "home/base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags %}

{% block content %}


    <header>
      <div class="container">
        <h1> المستشفي العائم </h1>

      </div>
    </header>




    <div class="news">
      <div class="container">
        <p class="p-hos">
          المستشفى العائم هو جزء من فاعليات حملة إحساسك نعمة بالأشتراك ما بين وزارة الصحة المصرية وشركة إيفا فارما للأدوية وغيرهم من الشركاء المساهمين في الحملة، وتهدف فكرة المستشفى العائم إلى خلق سماحية أعلى للحركة ما بين المحافظات المستهدفة خلال مدة الحملة والوصول إلى مناطق أكثر تنوعًا، وذلك إلى جانب القوافل البرية التي تقوم بها الحملة، كما تعمل أيضًا على تقديم شكل جديد ومختلف للخدمة الطبية والعلاجية، كما تسعى للوصول إلى مستويات أعلى من الجودة والكفاءة في طبيعة الخدمة.
          وتقوم الأهداف المبدئية للمستشفى على الوصول إلى المدن والقرى المختلفة على امتداد 6 محافظات من أسوان إلى الجيزة، وذلك على مدار شهرين لتقديم خدمات الكشف والتشخيص وصرف العلاجات اللازمة للمصابين والمرضى بأمراض السكر والتهاب الأعصاب الطرفية بهذه المناطق.

        </p>

        <div class="card-deck">

          <div class="card ">
            <img src="/static/img/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> المستشفى العائم يصل إلى المنيا ضمن إطار حملة إحساسك نعمة </h5>
              <p class="card-text">
     تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، في إطار التعاون مع وزارة الصحة ونادي روتاري مصر، وبالإشتراك مع معهد السكر والغدد الصماء بمصر، بتنظيم قافلة علاجية عبرالمستشفى العائم إلى محافظة المنيا، وذلك ضمن إطار فاعليات الحملة، وذلك لتقديم خدمات الكشف والتشخيص لمرض السكر والتهاب الأعصاب الطرفية، يومي الأثنين والثلاثاء 8 و9 إبريل.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">8 إبريل 2019</small>
            </div>
          </div>

          <div class="card ">
            <img src="/static/img/5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> المستشفى العائم يصل إلى أسيوط ضمن إطار حملة إحساسك نعمة </h5>
              <p class="card-text">
    تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، في إطار التعاون مع وزارة الصحة ونادي روتاري مصر، وبالإشتراك مع معهد السكر والغدد الصماء بمصر، بتنظيم قافلة علاجية عبرالمستشفى العائم إلى محافظة أسيوط، وذلك ضمن إطار فاعليات الحملة، وذلك لتقديم خدمات الكشف والتشخيص لمرض السكر والتهاب الأعصاب الطرفية، يومي الأثنين والثلاثاء 1 و2 إبريل.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">31 مارس 2019</small>
            </div>
          </div>

          <div class="card">
            <img src="/static/img/6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> المستشفى العائم يقدم خدماته بسوهاج ضمن إطار حملة إحساسك نعمة </h5>
              <p class="card-text">
      تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، في إطار التعاون مع وزارة الصحة ونادي روتاري مصر، وبالإشتراك مع معهد السكر والغدد الصماء بمصر، بتنظيم قافلة علاجية عبرالمستشفى العائم إلى محافظة سوهاج، وذلك ضمن إطار فاعليات الحملة، وذلك لتقديم خدمات الكشف والتشخيص لمرض السكر والتهاب الأعصاب الطرفية، يومي الأثنين والثلاثاء 25 و26 مارس.
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">22 مارس 2019</small>
            </div>
          </div>
        </div>

    <div class="card-deck">

      <div class="card">
        <img src="/static/img/7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> إحساسك نعمة تصل بالمستشفى العائم إلى قنا </h5>
          <p class="card-text">
    تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، في إطار التعاون مع وزارة الصحة، وبالإشتراك مع معهد السكر والغدد الصماء بمصر، بتنظيم قافلة علاجية عبرالمستشفى العائم إلى محافظة قنا، وذلك ضمن إطار فاعليات الحملة، وذلك لتقديم خدمات الكشف والتشخيص لمرض السكر والتهاب الأعصاب الطرفية، يومي الأثنين والثلاثاء 18 و19 مارس
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">14 مارس 2019</small>
        </div>
      </div>

      <div class="card">
        <img src="/static/img/8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> حملة إحساسك نعمة تصل لست محافظات خلال شهرين عبر المستشفى العائم </h5>
          <p class="card-text">
            تقوم حملة إحساسك نعمة لعلاج التهاب الأعصاب الطرفية، بالتعاون مع وزارة الصحة ونادى روتاري مصر، بإطلاق المستشفى العائم، ضمن إطار فاعليات الحملة، وذلك لتقديم خدمات الكشف والتشخيص لست محافظات مختلفة، من أسوان إلى الجيزة، وعلى مدار شهرين.
            وتبدأ رحلة المستشفى العائم من الأقصر، يومي الأثنين والثلاثاء 11 و12 مارس، للقيام بخدمات الكشف والتشخيص لمرض السكر والتهاب الأعصاب الطرفية، وذلك بالتعاون مع معهد السكر والغدد الصماء بمصر.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">14 مارس 2019</small>
        </div>
      </div>





    </div>

{% endblock %}
